table {
    margin: 10px 0 20px 0;
}

table th {
    text-align: center;
    font-weight: bold;
    padding: 4px 8px;
}

table td {
    padding: 0 8px;
}

/* restaurando o tamanho da fonte de citações */
blockquote {
    font-size: 1em;
    font-style: italic;
}

/* e adicionando alguns enfeites */
blockquote em, blockquote i { font-weight: bold; }
blockquote strong, blockquote b { font-weight: bolder; }

/* Tabela usada como mapa da cidade 
    define a largura máxima das cartas */
table.citymap td {
    width: 136px;
}

table.citymap td div {
    position: relative;
}

table.citymap img {
    width: 120px;
}

table.citymap td .label {
    position: absolute;
    top: 50%;
    left: 0px;
    margin-top: -20px;
    width: 120px;
    white-space: normal;
}