doctype html
html(lang='en')
  include head.jade
  body
    div.container
      
      div.row
        div.col-md-12
          div.page-header
            h1= locals.title + " "
              small= page.title
            address por <a href="#{page.metadata.authorUrl}">#{page.metadata.author}</a>
      
      div.row
        div.col-md-9
          != page.html
          
        div.col-md-3.hidden-print
          include menu.jade

      div.row.hidden-print
        div.col-md-12
          include ../includes/disqus.html

      include footer.jade
