ul.nav.nav-pills.nav-stacked
  li(class=page.url.indexOf("index.html") >= 0?"active":""):           a(href="index.html") Sobre o jogo
  li(class=page.url.indexOf("introducao.html") >= 0?"active":""): a(href="introducao.html") Introdução
